$whiteoff       : #fffaf0;
$future1        : #2c3531;
$future2        : #116466;
$future3        : #d9b08c;
$future4        : #ffcb9a;
$future5        : #d1e8e2;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: $future1;
}

@keyframes spin-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
