$greenTreeline  : #478559;
$purpleBaseline : #161748;
$pinkHighlight  : #f95d9b;
$bluewater      : #39a0ca;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: $greenTreeline;
}
