.footer {
  background: rgba(22, 23, 72, 0.2);
  margin: 2em 0;

  .footer-wrapper {
    padding: 1.5em;
    // background: $future2;
    background: rgba(17, 100, 102, 0.8);

    span {
      color: $future5;
    }
  }

  .link-wrapper {
    margin-top: 1.5em;
  }

  .ui.inverted.segment {
    background: $future1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .ui.inverted.segment:hover {
    background: $future3;
    color: $future1;
  }
}
