.stopwatch-app-container {
  h5 {
    color: $whiteoff;
    display: flex;
    justify-content: center;
  }

  .stopwatch-wrapper {
    background: #161748;
    border-radius: 10px;
    -webkit-animation: colorBlend 90s infinite;
    -moz-animation: colorBlend 90s infinite;
    -o-animation: colorBlend 90s infinite;
    animation: colorBlend 90s infinite;
  }

  @-webkit-keyframes colorBlend {
    0% {
      background: $blueDeep;
    }
    25% {
      background: $indigo;
    }
    50% {
      background: $purpleBaseline;
    }
    75% {
      background: $whiteoff;
    }
    100% {
      background: $blueDeep;
    }
  }

  @-moz-keyframes colorBlend {
    0% {
      background: $blueDeep;
    }
    25% {
      background: $indigo;
    }
    50% {
      background: $purpleBaseline;
    }
    75% {
      background: $whiteoff;
    }
    100% {
      background: $blueDeep;
    }
  }

  @keyframes colorBlend {
    0% {
      background: $blueDeep;
    }
    25% {
      background: $indigo;
    }
    50% {
      background: $purpleBaseline;
    }
    75% {
      background: $whiteoff;
    }
    100% {
      background: $blueDeep;
    }
  }

  .stopwatch-app {
    background: $purpleBaseline;
    box-shadow: 0 3px 6px rgb(12, 12, 12);
    box-sizing: border-box;
    border: 2px solid $greenTreeline;
    border-radius: 50px;
    color: $whiteoff;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    margin: 8em auto 30em auto;
    padding: 20px;
    width: 50%;

    .stopwatch-header {
      font-size: 2.5em;
      font-weight: bold;
    }

    button {
      background-color: #202b33;
      border: solid 1px transparent;
      border-radius: 5%;
      padding: 10px 20px;
      color: #ffffff;
      font-size: 1.15em;
      margin: 0 5px;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    button:hover {
      background-color: $bluewater;
    }

    .stopwatch-app button {
      padding: 12px 32px;
      font-size: 1.5em;
    }

    .stopwatch-display {
      padding: 40px 0;
      font-size: 4em;
    }

    @media (max-width: 1024px) {
      margin: 5em auto 55em auto;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 4em auto 27em auto;
    }

    @media (max-width: 560px) {
      margin: 3em auto 10em auto;
    }
  }
}
