.workout-video-item-component-container {
  background: transparent;
  border: none;
  position: relative;
  max-height: 60em;
  flex-direction: row;
  // overflow-y: scroll;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .card {
    // flex-direction: row;
  }

  @media(max-width: 768px) {
    max-height: 40em;
    flex-direction: column;
    overflow-y: scroll;
  }
}
