.workout-video-focus-wrapper {

  border-radius: 5px;
  border: 1px ridge $future2;
  background: $future2;
  color: $future5;

  @media(max-width: 768px) {
    margin-bottom: 1rem;
  }
}

.spinner-grow {
  margin: 2em auto;
  width: 100%;
}
