.workout-videos-wrapper {
  .workout-videos-inner {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .workout-videos-inner .ui.segment {
    background: $future2;
    color: $future5;
    text-align: center;

    input {
      background: $future5;
    }
  }

  .workout-videos-inner-mobile {
    display: none;
  }

  @media(max-width: 1024px) {
    margin-top: 6rem !important; // !important used to override Bootstrap margin
  }

  @media(max-width: 768px) {
    margin-top: 1rem !important; // !important used to override Bootstrap margin
  }

  @media(max-width: 768px) {
    .workout-videos-inner,
    .list-container {
      display: none !important;
    }

    .workout-videos-inner-mobile {
      display: table;
      margin-left: 0;
      margin-right: 0;

      .video-links-container-mobile {
        display: table-header-group !important;
        text-align: center;

        .ui.segment {
          background: $future2;
          color: $future5;
        }
      }

      .list-container-mobile {
        display: table-footer-group !important;
      }
    }
  }
}
