.workout-list-wrapper {
  i.day-icon,
  i.flask-icon {
    -webkit-transition: all 0.70s ease-in-out;
    -moz-transition: all 0.70s ease-in-out;
    -ms-transition: all 0.70s ease-in-out;
    -o-transition: all 0.70s ease-in-out;
    transition: all 0.70s ease-in-out;

    &:hover {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      background: $indigo;
    }
  }
}
